PARSER_DSN=postgresql://admin:PASSWORD@194.164.245.107:5420/parser_ebay
EBAY_TO_BUY_DSN=postgresql://admin:PASSWORD@194.164.245.107:5406/ebay_to_buy
SMART_DSN=postgresql://admin:PASSWORD@194.164.245.107:5402/smart
EBAY_DATA_DSN=postgresql://admin:PASSWORD@194.164.245.107:5415/ebay_data
VALIDATOR_DSN=postgresql://admin:PASSWORD@194.164.245.107:5421/ebay_validation_catalog
